---
import { getCollection } from "astro:content";
import ContentCard from "../../components/ContentCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const notes = (await getCollection("notes", ({ data }) => !data.draft)).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title="Notes | Bry Martinez">
  <section class="card-grid">
    {
      notes.map((note) => (
        <ContentCard
          href={`/notes/${note.id}/`}
          title={note.data.title}
          description={note.data.description}
          meta={note.data.topic}
        />
      ))
    }
  </section>
</BaseLayout>
